.movieImage > img {
  padding: 0px 10px 10px;
  margin-top: 10px;
}

.movieImage {
  max-width: 1000px;
  float:right;
}
.movieInfo {
  max-width: 1000px;

}

.bannerAdv {
  display: flex;
  background-color: #030b17;
}
.text > span {
  margin-top: 20px;
  font-size: 30px;
  margin: 2px 0;
  color: #fff;
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  font-weight: 600;
}

.text > p {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.text {
  padding: 60px;
}
